body{
  font-family: 'Karla', sans-serif;
  padding-top: 20px;
  line-height: 1.75;
}



.full-width{
  width: 100%;
}



a{
  text-decoration: underline;;
  color: black;
  transition:all 0.25s linear;
	-webkit-transition:all 0.25s linear;
  -o-transition:all 0.25s linear;
  -moz-transition:all 0.25s linear;
  -ms-transition:all 0.25s linear;

}

a:hover{
  text-decoration: underline;
  color :red;
}

p{

  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
}

p.big{
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
}

nav{
  line-height: 10rem;
  height: 10rem;
  width:100%;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;


}

nav ul{
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;


}

nav ul li{
  width: 20%;
  float: left;
}

nav ul li a{
  text-decoration: none;
  font-size: 15px;
}

nav ul li a:hover{
  text-decoration: none;
  font-size: 15px;
  top: -5px;

}

nav ul li a img{
  display: block;
  margin: auto;
  margin-top: 2.2rem;
  height: 5rem;
  width: 5rem;
}



.fa-bars{
  float: right;
  padding-top: 4rem;
  padding-right: 4rem;

}



#gifbadge{
  border: 1px solid black;
  border-radius: 10px;
  padding:20px;
  text-align: center;
}

#gifbadge > img {
  height: 150px;
  border-radius: 50%;
}


#twitter{
  border: 1px solid black;
  border-radius: 10px;
  padding:5px;
}

.twitterBadge{
  text-align: center;
  font-size: 15px;
}



#coverpic{
  display: block;
  margin: auto;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -o-fileter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
}

#coverpic:hover{
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -o-fileter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
}

#footer{
  position: absolute;
  line-height: 10rem;
  height: 10rem;
  width:100%;
  text-align: center;
  bottom: 0;
}

#views.ng-enter{
  opacity: 0;
  transition: 0.5s linear all;
  -webkit-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -ms-transition: 0.5s linear all;

}
#views.ng-enter.ng-enter-active{
  opacity: 1;
}


.greyscalify{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);

}
/* le media queries !! */

@media screen and (min-width: 768px){
  .mobileNav{
    display: none;
  }

  .navBanner{
    display: none;
  }
  #main{
    padding-top: 25px;
  }
  #main > .wrapper > .col-sm-4{
    padding-left:50px;
  }
  .container{
    padding: 75px;
  }

}

@media screen and (max-width: 767px) {

  .mainNav{
    display: none;
  }

  .navBanner{
    display: block;
    height: 10rem;
    background: #f7f7f7;
    padding-top: 1rem;


  }

  .navBanner > a > img{

    height: 7rem;


    padding-left: 5rem;
  }

  .mobileNav{
    display: block;
    overflow: hidden;
    height: 0rem;
    text-align: center;
    transition:height 0.2s ease;
  	-webkit-transition:height 0.2s ease;
    -o-transition:height 0.2s ease;
    -moz-transition:height 0.2s ease;
    -ms-transition:height 0.2s ease;

  }

  .showNav{
    height: 15rem;
  }



  .mobileNav > ul{
    list-style: none;
    padding: 10px;
    position: relative;

  }



  .mobileNav > ul li:hover:not(:nth-child(4)){
    background: #f2f2f2;
  }

  .mobileNav > ul li a{
    text-decoration: none;
  }

  #dropDown{
    cursor: pointer;
  }



}



.particles-wrapper{
  z-index: 0 !important;
  position:absolute;
  padding: 0;
  margin: 0;
  width: 100%;

}
