<div class="eight columns section" ng-controller="aboutCtrl">
  <h4 style="text-align:center"> Hi! </h4>
  <p>I'm Leo and I live in Chennai, India. I'm into far too many things but I'm pretty sure these are some of those things that people actually care about ..</p>
  <ul>
    <li>
      <h5>Web Development</h5>
      <p>I started learning to code at the wake of 2015 as electronics isn't really my thing. I fell in love and got hooked big time. I didn't really intend to start with javascript but javascript seemed really friendly and forgiving when compared to other programming languages. I also love NodeJS and the whole open source idea behind it. I've got a long way to go but I'm pretty happy with how things worked out.</p>
    </li>
    <li>
      <h5>Gaming</h5>
      <ul>
        <li>
          <b>Counter-Strike</b>
          <p>I spent an epoch of my life with counter strike ( Source and Global offensive. Never played 1.6 though). I kinda had to quit because life happened.  All I'm left with now are good memories and amazing friends </p>
        </li>
        <li>
          <b>Dota 2</b>
          <p>Dota 2 was a lot more fun because the friends I played with are my real life friends as well. We spent 3000 hours on that game screwing around and not taking things seriously. Only recently we came up with a thought to play that game competitively and voila! We formed a team now. We are,</p>
          <b>Chivarly Gaming (CGM)</b>
            <ul>
              <li>ch4Rm (myself)</li>
              <li>Hercules</li>
              <li>Khan</li>
              <li>Paradise</li>
              <li>Tony</li>
        </li>
      </ul>
    </li>
  </ul>
</div>
